@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");

body {
  font-family: "M PLUS Rounded 1c", Outfit, Lato, sans-serif;
  background-color: #f9b959;
  color: black; /* デフォルトのテキスト色 */
  font-weight: 600;
  overflow-x: hidden;
}
